*{
  box-sizing: border-box;
}
header {
  background-color: rgb(0, 54, 108);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
h3 {
  text-align: center;
  margin: auto;
  font-size: 5rem;
}
fieldset{
  max-width: 450px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
fieldset label{
	display:block;
	margin-bottom: 10px;
}
fieldset label > span{
	float: left;
	width: 100px;
	color: #F072A9;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	background: #FFF4F4;
	box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
fieldset legend{
	color: #FFA0C9;
	border-top: 1px solid #FFD2D2;
	border-left: 1px solid #FFD2D2;
	border-right: 1px solid #FFD2D2;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}

main {
  background-color:light gray;
}
body {
  background-color:light gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
main > section {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
}
section {
  border: 3px solid rgb(0, 255, 166);
  display: inline-block;
  width: 172px;
}

main img {
  margin-bottom: 30px;
}
footer {
  background-color: rgba(0, 128, 128, 0.325);
  height: 100px;
}
article {
  border: 3px solid rgb(0, 19, 128);
  text-align: center;
  margin: auto;

}
article section {

}
table, td, th {
  border: 1px solid rgb(112, 159, 165);
}
table {
  margin: auto;
  text-align: center;
  margin-top: 30px;
}
td, th {
  padding: 1rem;
}
th {
  font-weight: bold;
}
tfoot {
  background-color: rgba(112, 159, 165, .1);
}
